@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css?family=Khula:700");

//animation sec=---------------------------------------
@keyframes slidein {
  from {
    margin-left: 50%;
    width: 300%;
    overflow: hidden;
  }

  75% {
    // font-size: 300%;
    // margin-left: 25%;
    width: 100%;
    overflow: hidden;
  }

  to {
    margin-left: 0%;
    width: 100%;
    overflow: hidden;
  }
}

//end==============================
.ab-div {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  opacity: 0.5;
  background-color: black;
}
.homepage {
  .header-sec {
    background: url("https://cdn.wallpapersafari.com/68/28/nSadkl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  .header-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    color: white;
    h1 {
      animation-duration: 1s;
      animation-name: slidein;
      font-size: 100px;
      color: white;
      background-image: linear-gradient(
        45deg,
        #ff61d3 10%,
        #ff61d3 36%,
        #b318ff 47%,
        #00fff8 67%,
        #00f0ff 76%,
        #1e43ff
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 1000;
    }
    p {
      font-size: 24px;
      color: white;
    }
  }

  .about-sec {
    background-color: black;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;

    .about-content {
      padding-top: 30px;
      display: flex;
      gap: 40px;
      justify-content: space-around;
      flex-wrap: wrap;
      .cols-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .card {
          width: 400px;
          height: 250px;
          display: flex;
          flex-direction: column;
          transform: scale(0);
          padding: 20px;
          align-items: self-start;
          justify-content: center;
          background-color: #272320;
          box-shadow: 8px 8px 0px rgba(39, 35, 32, 0.3) !important;
          color: white;
          p:nth-of-type(1) {
            text-align: start;
            color: rgb(254, 178, 0);
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 20px;
          }
          p {
            text-align: start;
          }
        }
        .card.active {
          transition: 0.2s;
          transform: scale(1);
        }
      }
      .cols-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 50px;
        .card {
          width: 400px;
          height: 250px;
          display: flex;
          flex-direction: column;
          padding: 20px;
          transform: scale(0);
          align-items: self-start;
          justify-content: center;
          background-color: #272320;
          box-shadow: 8px 8px 0px rgba(39, 35, 32, 0.3) !important;
          color: white;
          p:nth-of-type(1) {
            text-align: start;
            color: rgb(254, 178, 0);
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 20px;
          }
          p {
            text-align: start;
          }
        }
        .card.active {
          transition: 0.2s;
          transform: scale(1);
        }
      }
    }
    .benifit-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 320px;
      gap: 20px;
      h3 {
        text-align: start;
      }
      p {
        text-align: start;
        font-size: 18px;
      }
    }
  }

  .bonus-sec {
    background-color: black;
    width: 100%;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 230px;
    .bonus-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      .box-div {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        .box {
          width: 400px;
          height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 10px;
          background-color: #272320 !important;
          padding: 15px;
          box-shadow: 8px 8px 0px rgba(39, 35, 32, 0.3) !important;
          p:nth-of-type(1) {
            font-weight: 600;
            color: rgb(254, 178, 0);
          }
          p {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  .features-sec {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    .features-contant {
      height: 100%;
      align-items: center;
      h1 {
        color: white;
      }
      p {
        color: white;
        font-size: 20px;
      }
    }
    .features-box {
      justify-content: space-around;
      align-items: center;
      margin-top: 80px;

      .box {
        h2 {
          color: white;
        }
        padding: 20px;
        padding-bottom: 40px;
        width: 430px;

        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        div {
          margin-top: 20px;
          display: flex;
          img {
            order: thick double white;
          }
          p:nth-of-type(1) {
            color: rgb(254, 178, 0);
            font-weight: 600;
          }
          p {
            margin-left: 20px;
            margin-bottom: 5px;
          }
        }
      }

      // .slick-arrow {
      //   height: 40px !important;
      //   width: 40px !important;
      //   border-radius: 50%;
      //   background-color: white;
      // }
      // .slick-prev {
      //   left: -50px !important;
      //   &::before {
      //     content: "<";
      //     color: blue;
      //     text-align: center;
      //     width: 150px !important;
      //   }
      // }
      // .slick-next {
      //   right: -50px !important;
      //   &::before {
      //     content: ">";
      //     color: blue;
      //     text-align: center;
      //     width: 150px !important;
      //   }
      // }
    }
  }
  .clint-sec {
    display: flex;
    align-items: center;
    background-size: cover;
    background-color: black;

    background-repeat: no-repeat;
    .client-contet {
      .slick-arrow {
        display: none !important;
      }
      height: 400px;
      text-align: center;

      .client-txt {
        margin-top: 25px;
        text-align: center;
        gap: 20px;
        margin-bottom: 120px !important;
        h1 {
          color: white;
        }
        p {
          color: white;
          font-size: 20px;
        }
      }
    }
  }

  .team-sec {
    padding-top: 20px;
    background-color: black;
    p {
      color: white;
      margin-bottom: 0px;
    }
    h1 {
      color: white;
      font-size: 45px;
    }
    .team-content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .select-sec {
        margin-top: 30px;
        background-color: #272320;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        button {
          border-radius: 20px;
          border: 0px;
          color: white;
          background-color: black;
          font-weight: 600;
          font-size: 17px;
          width: 150px;
          height: 40px;
          &:hover {
            color: rgb(254, 178, 0);
          }
        }
        .active-button {
          background-color: rgb(254, 178, 0) !important;
          color: white !important;
        }
      }
      .plans {
        display: flex;
        margin-top: 20px;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
        .plans-card-1 {
          margin-top: 40px;
          width: 350px;
          font-size: 20px;
          color: white;
          background-color: #272320;
          padding: 20px;
          border-radius: 10px;
          transition: 0.5s;
          &:hover {
            box-shadow: 8px 8px 0px rgba(39, 35, 32, 0.3) !important;
          }
          h2 {
            font-size: 24px;
          }
          h2:hover {
            color: rgb(254, 178, 0);
          }
          p {
            font-size: 16px;
            text-align: start;
          }
          P:nth-of-type(1) {
            margin-top: 10px;
          }
          text-align: center;
          button {
            border-radius: 20px;
            font-size: 16px;
            width: 130px;
            margin-top: 20px;
            text-align: center;
            border: 0px;
            font-weight: 600;
            background-color: rgb(254, 178, 0);
            color: white;
            height: 30px;
          }
        }
        .plans-card-2 {
          padding-top: 50px;
          margin-top: 20px;
          gap: 10px;
          width: 300px;
          background-color: #272320;
          padding: 30px;
          text-align: center;
          border-top-left-radius: 15px;
          border-top-right-radius: 35px;
          border-bottom-left-radius: 35px;
          &:hover {
            box-shadow: 8px 8px 0px rgba(39, 35, 32, 0.3) !important;
          }
          h3 {
            color: white;
            margin-bottom: 0px;
          }
          h1 {
            margin-top: 20px;
            margin-bottom: 0px;
            &:hover {
              color: rgb(254, 178, 0);
            }
          }

          button {
            margin-top: 20px;
            height: 40px;
            border-radius: 20px;
            width: 120px;
            background-color: rgb(254, 178, 0);
            border: 0px;
            color: white;
            font-weight: 600;
          }
          ul {
            text-align: start;
            margin-top: 20px;

            li {
              color: white;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
        .plans-card-3 {
          padding-top: 50px;
          margin-top: 20px;
          gap: 10px;
          width: 300px;
          background-color: #272320;
          padding: 30px;
          text-align: center;
          border-top-left-radius: 15px;
          border-top-right-radius: 35px;
          border-bottom-left-radius: 35px;
          &:hover {
            box-shadow: 8px 8px 0px rgba(39, 35, 32, 0.3) !important;
          }
          h3 {
            color: white;
            margin-bottom: 0px;
          }
          h1 {
            margin-top: 20px;
            margin-bottom: 0px;
            &:hover {
              color: rgb(254, 178, 0);
            }
          }

          button {
            margin-top: 20px;
            height: 40px;
            border-radius: 20px;
            width: 120px;
            background-color: rgb(254, 178, 0);
            border: 0px;
            color: white;
            font-weight: 600;
          }
          ul {
            text-align: start;
            margin-top: 20px;

            li {
              color: white;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .blog-sec {
    padding-top: 80px;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 40px;

    p:nth-of-type(1) {
      font-weight: 600;

      font-size: 20px;
    }

    .blog-box {
      padding: 10px;
      transform: scale(0);
      background-color: #272320;
      width: 400px !important;

      border-radius: 15px;
      h5 {
        color: white;
        text-align: start;
      }
      p:nth-of-type(1) {
        margin-top: 10px;
      }
      p:nth-of-type(2) {
        margin-bottom: 10px;
      }

      p {
        text-align: start;
        color: white;
        margin-bottom: 0px;
      }
      img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
      }
    }
  }
  .blog-box.active {
    transition: 1s;
    transform: scale(1);
  }

  .articles {
    background-color: black;
    width: 100%;
    p {
      color: white;
      font-weight: 600;
    }
    .accordion {
      --bs-accordion-border-color: none;
    }
    .articles-sec {
      text-align: center;
      .accordion-item {
        margin-top: 20px;
      }
      .accordion-button {
        background-color: #272320;
        color: white;
      }
      .accordion-header {
        background-color: #272320;
      }
      .accordion-body {
        text-align: start;
        background-color: #272320;
        color: white;
      }
      .accordion-button:not(.collapsed) {
        color: white !important;
        background-color: #272320 !important;
        box-shadow: none !important;
      }
      .accordion-button:focus {
        z-index: 3;
        border-color: 0px !important;
        outline: 0 !important;
        box-shadow: none !important;
      }
      .accordion-button::after {
        content: "" !important;
        width: 0px;
      }
    }
  }
}

.accordion.active {
  animation: 0.8s slidein;
}

.contact-sec {
  padding-top: 50px;
  color: white;
  padding-bottom: 30px;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  p:nth-of-type(1) {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0px;
  }
  .contact-content {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px;
    position: relative;
    .back-img {
      position: absolute;
      width: 91%;
    }
    .img-svg {
      transition: 1s;
      opacity: 0;
      transform: translateX(10px);
      z-index: 1;
    }
    .img-svg.active {
      transition: 1s;
      opacity: 1;
      transform: translateX(10px);
    }
    .contact-field {
      z-index: 1;
      width: 50%;
      transition: 1s;
      opacity: 0;
      transform: translateX(0px);
      div {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        input {
          width: 40%;
          height: 60px;
          border-radius: 10px;
          border: 0px;
          padding-left: 20px;
          background-color: #272320;
          font-size: 18px;
          font-weight: 500;
          color: white;
          &:hover {
            border: 2px solid rgb(254, 178, 0);
          }
          &:focus {
            border: 2px solid rgb(254, 178, 0) !important;
          }
        }
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      textarea {
        padding-left: 20px;
        padding-top: 20px;
        background-color: #272320;
        color: white;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        height: 100%;
        width: 82%;
        border: 0px;
        border-radius: 10px;
      }

      button {
        margin-top: 20px;
        color: white;
        background-color: rgb(254, 178, 0);

        border-radius: 25px;
        font-size: 18px;
        padding: 10px;
        font-weight: 600;
        border: 0px;
      }
    }
    .contact-field.active {
      opacity: 1;
      transform: translateX(-10px);
    }
  }
}

//responsive section//

@media screen and (max-width: 1402px) {
  .contact-sec .contact-content .contact-field div input {
    width: 100% !important;
  }
  .contact-sec .contact-content .contact-field {
    textarea {
      width: 100% !important;
    }
  }
  .homepage .articles .articles-sec .article-table {
    width: 100%;
  }
  .homepage .clint-sec .client-contet .client-txt {
    gap: 20px;
  }
  .homepage {
    .header-content {
      h1 {
        width: 100%;
        font-size: 50px;
      }
      p {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .contact-sec .contact-content .contact-field div input {
    width: 100% !important;
  }
  .contact-sec .contact-content .contact-field {
    textarea {
      width: 100% !important;
    }
  }
  .slick-prev {
    left: 20px !important;
    display: none !important;
  }
  .slick-next {
    right: 20px !important;
    display: none !important;
  }
  .contact-sec .contact-content .img-svg {
    img {
      width: 100% !important;
    }
  }
  .contact-sec .contact-content .contact-field {
    margin-top: 30px;
    width: 100%;
  }
  .articles .articles-sec .article-table {
    margin-top: 30px;
    width: 100% !important;
  }
  .homepage .timer-sec {
    font-size: 45px;
    .timer {
      .time {
        h1 {
          font-size: 45px;
        }
      }
    }
  }
  .homepage .team-sec .team-content {
    padding-bottom: 10px;
  }
  .homepage .team-sec .team-content .cards {
    width: 100%;
    height: 100%;
    .card-img {
      width: 100%;
    }
  }
  .homepage .about-sec .about-content .about-img .about-img-1 {
    width: 350px;
    height: 350px;
  }
  .homepage .about-sec .about-content .about-img .about-img-2 {
    width: 350px;
    height: 350px;
  }
  .homepage .about-sec .about-content .about-txt {
    height: 100%;
    padding: 50px;
  }
  .homepage .about-sec .about-content .about-img {
    height: 600px;
    padding: 50px;
  }
  .homepage .clint-sec .client-contet .client-txt {
    align-items: center;
    justify-content: center;
  }
  .bonus-sec {
    .bonus-content {
      .bonus-box {
        gap: 20px;
        .box {
          width: 100% !important;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .homepage .timer-sec {
    padding: 20px;
    font-size: 30px;
    .timer {
      gap: 20px;
      .time {
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .homepage .blog-sec .blog-box {
    width: 350px !important;
  }
  .homepage .about-sec .about-content .cols-2 .card {
    width: 100%;
  }
  .inbox-sec .inbox-content .email-box input {
    width: 100%;
    font-size: 16px !important;
    padding-left: 20px;
    color: white;
    font-weight: 600;
    background-color: #131212;
    border: 0px;
  }
  .inbox-sec .inbox-content .email-box {
    width: 100%;
  }
  .inbox-sec .inbox-content .email-box button {
    font-size: 12px;
    width: 160px !important;
  }
  .homepage .bonus-sec .bonus-content p {
    width: 100% !important;
  }
  .homepage .about-sec .about-content .about-img .about-img-1 {
    width: 250px;
    height: 250px;
  }
  .homepage .about-sec .about-content .about-img .about-img-2 {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 450px) {
  .homepage .about-sec .about-content .cols-1 .card {
    width: 100% !important;
  }
  .homepage .bonus-sec .bonus-content .box-div .box {
    width: 100%;
  }
  .homepage .features-sec .features-box .box {
    width: 100%;
  }
  .homepage .features-sec .features-contant p {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .homepage .about-sec .about-content .about-img .about-img-1 {
    width: 200px;
    height: 200px;
  }
  .homepage .about-sec .about-content .about-img .about-img-2 {
    width: 200px;
    height: 200px;
  }
  .inbox-sec .inbox-content h2 {
    color: white;
    font-size: 30px !important;
  }
  .homepage .timer-sec h1 {
    font-size: 36px;
  }
  .homepage .timer-sec .timer {
    gap: 0px;
  }
  .homepage .timer-sec .timer {
    gap: 0px;
  }
  .homepage .team-sec .team-content .cards .card-txt .social-icons div {
    border: 1px solid white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 50%;
    color: white;
    padding: 7px;
  }
  .footers .footer-content .footer-links {
    gap: 10px !important;
  }
  .homepage .articles .articles-sec .article-card .img-card img {
    width: 180px;
    height: 180px;
  }
}
